@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primaryColor: #004e81;
  --secondaryColor: #0d263b;
  --slateGray: #7c8893;
  --navbarColor: #ecf2f9;
}

body {
 
}

.pending {
  color: red;
}
.active {
  color: var(--primaryColor);
  text-decoration: underline;
  text-underline-offset: 0.3rem;
}

select {
  width: 100%;
  border-radius: 6px;
  border: 1px solid var(--slateGray);
  height: 60px;
  flex-shrink: 0;
  color: var(--slateGray);

  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

select:hover {
  border: 1px solid var(--primaryColor);
  
  color: var(--primaryColor);
}



option {
  padding: 2rem;
  background-color: var(--primaryColor);
  color: white;
}
